{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {{ parent() }}
    <section class="homepage">
        <div class="parallax"></div>
        <div class="cover"></div>
        <div class="description-parallax">
            <h1>Découvrez la routine du moment</h1>
        </div>
    </section>
    <section class="nouveautes">
        <h2>Nouveautés</h2>
        <div class="produits-container">
            {% for produit in produits %}
            <div class="produit-carte">
                <div class="image-produit">
                    <!-- {{produit.imageProduit}} -->
                    <img src="{{ asset('img/shampoing.png') }}" alt="shampoing">
                </div>
                <div class="description-produit">
                    <h3>{{produit.nomProduit}}</h3>
                    <p>{{produit.marque}}</p>
                    <p>{{produit.prixProduit}} €</p>
                </div>

            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
